.navigation {
    height: 100%;
    display: flex;
    flex-direction: column;

    .tabs {
        display: flex;
        border-bottom: 1px solid #eee;

        .tab {
            flex: 1;
            padding: 1.5rem 1rem;
            background: none;
            border: none;
            font-size: 1.1rem;
            color: #2f2f2f;
            cursor: pointer;
            font-family: var(--font-rubik);
            font-weight:500;

            position:relative;

            &.active::after {
                content:'';
                position:absolute;
                bottom:0;
                left:50%;
                transform:translateX(-50%);
                width:50%;
                height:2px;
                background:#378aee;
            }
        }
    }

    .content {
        flex: 1;
        overflow-y: auto;
        padding: 0 1.5rem;

        .chapter {
            padding: 1rem 0;
            border-bottom: 1px solid #eee;

            .chapterInfo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap:1.5rem;

                h4 {
                    font-size: 1rem;
                }

                span {
                    color: #666;
                    font-size: 0.8rem;
                }
            }
        }

        .empty {
            text-align: center;
            color: #666;
            padding: 2rem;
        }
    }
} 